ai2thor==0+5d0ab8ab8760eb584c5ae659c2b2b951cab23246
aiohttp==3.12.0
allenact-plugins==0.5.4
av==14.4.0
black==25.1.0
boto3==1.38.23
box2d-py==2.3.8
canonicaljson==2.0.0
clip==1.0
colour==0.1.5
cryptography==45.0.2
einops==0.8.1
flake8==7.2.0
flaky==3.8.1
gym-minigrid==1.0.3
h5py==3.13.0
importlib-metadata==8.0.0
invoke==2.2.0
ipdb==0.13.13
jaraco.collections==5.1.0
lightning==2.5.1.post0
mypy==1.2.0
nbformat==5.10.4
nltk==3.8.1
numba==0.61.2
numpy-quaternion==2022.4.1
objathor==0.0.7
omegaconf==2.3.0
open-clip-torch==2.32.0
patsy==1.0.1
petname==2.6
phonemizer==3.3.0
pickle5==0.0.11
pip-chill==1.0.3
plotly==6.1.1
pre-commit==4.2.0
prettytable==3.16.0
prior==1.0.3
pyquaternion==0.9.9
pytest-xdist==3.6.1
python-dotenv==1.1.0
python-fcl==0.7.0.8
python-sat==1.8.dev16
scikit-video==1.1.11
shapely==2.1.1
shortuuid==1.0.13
stringcase==1.2.0
timeout-decorator==0.5.0
torchaudio==2.4.1
transformers==4.52.3
wandb==0.19.11
wget==3.2
xformers==0.0.28.post1
